:root{
    --color: #b4b7db;
    --primary: var(--color);
}
body{
    background-color: var(--primary);
}

html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    font-size: 4.2rem;
    font-family: 'Manrope', sans-serif;
    transition: all .5s;
}

#container{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#search{
    margin-top: 10px;
    flex-direction: row;
    text-align: center;
    background-color: #cccb8250;
}

#results{
    margin-top: 10px;
    flex-direction: row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
}
.click{
    width: 100px;
    margin-top: 5px;
    font-size: 1.0rem;
    font-family: 'Manrope', sans-serif;
}

.all{
    flex-direction: row;
    width: 180px;
    height: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Manrope', sans-serif;
    background-color: #f8f8f850;
}

.open{
    flex-direction: row;
    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Manrope', sans-serif;
    background-color: #f8f8f850;
}

.close{
    flex-direction: row;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Manrope', sans-serif;
    background-color: #f8f8f850;
}

.chair{
    flex-direction: row;
    width: 180px;
    height: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Manrope', sans-serif;
    background-color: #f8f8f850;
}

.title:hover {
    transform: scale(0.9);
    filter:opacity(40%);
}