:root{
    --color: #b4b7db;
    --primary: var(--color);
}
body{
    background-color: var(--primary);
}

html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    font-size: 4.2rem;
    font-family: 'Manrope', sans-serif;
    transition: all .5s;
}

#container{
    display: flex;
}
.bar{
    flex-direction: row;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Manrope', sans-serif;
}
.button{
    flex-direction: row;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Manrope', sans-serif;
    background-color: #f8f8f850;
}

.title:hover {
    transform: scale(0.9);
    filter:opacity(40%);
}